*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    background: cover;
    opacity:1;
    font-family: 'Oswald', sans-serif;
}


.navbar{

    display: flex
    text-align: right;
    padding: 5px;
    padding-bottom: 10px;
    
}
.logo{
    background-color: brown;
    border-radius: 100px;
}
nav{
    flex:1;
    text-align: right;
}
nav ul{
    display:inline-block;
    list-style-type: none;
}

nav ul li{
    display:inline-block;
    margin-right: 5px;
}

a{
    text-decoration:none ;
    color: #555555;

}
p{
    color: #555;
}
.container{
    max-width: 1200px;
    margin:auto;
    padding-left: 5px;
    padding-right: 5px;
}
